<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gaming4Good</title>
  <!-- stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" href="/static/style.css">
  <!-- Google Fonts API -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300&display=swap" rel="stylesheet">
  <!-- bootstrap navbar -->
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Gaming4Good</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/game">Game</a></li>
      <li><a href="/about">About Us</a></li>
    </ul>
  </div>
</nav>
</head>
<body>
  <div style="margin-left: 100px">
    <p>Business Plan Slideshow: </p>
  <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vT6ccCK59-ZiMgxPVmh_UerdZWtwLL1ad4yWFpZREmCAAIQhQS2aFyTnHzDslN03dfNRqXbtcXHxy58/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
  
</body>
</html>